services:
  db:
    image: postgres:16
    container_name: cabincare_db
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: cabincare_api
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      - db
volumes:
  db_data: {}